html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: 40px;
}
footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
}
/* Estilos para popover */
.popover-body{
    height: 350px;
    overflow: auto;
}
/* .popover-body:hover{
    overflow-y: auto;
} */
/* Fin estilos popover */